body{
    padding: 0%;
    margin: 0%;
    background-color: aqua;
}

h3{
    color: red;
}

button{
    margin-left: 15px;
    height: 25px;
    width: 70px;
    color: white;
    background-color: rgb(0, 119, 255);
}

.head{
    height: 30px;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(16, 169, 169);
}

#t1{
    margin: 15px 0px 0px 600px;
}

#t2{
    margin: 15px 0px 0px 450px;
}

#t3{
    margin: 15px 0px 0px 415px;
}

.label_1{
    text-align: end;
}

.label_2{
    text-align: end;
    padding-left: 100px;
}

.label_3{
    text-align: end;
    padding-left: 125px;
}

.b1{
    margin: 15px 0px 0px 700px;
}